@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background: linear-gradient(rgb(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(../img/bg.jpg);
  background-position: center;
  background-size: 15% 3000px;
  background-attachment: fixed;
  color: #243238;
}

.container {
  max-width: 77rem;
  margin: 0.7rem auto;
  background-color: rgb(248, 246, 246);
  border: 0.3rem ridge #eee;
  box-shadow: 11px 20px 17px -10px rgba(0, 0, 0, 0.35);
}

.title-underline {
  width: 10rem;
  height: 0.2rem;
  margin: 0 auto;
  margin-bottom: 1rem;
  position: relative;
  border-radius: 2rem;

  background: #6c757d;
  opacity: 0.5;
}

.title-underline__center {
  position: absolute;
  height: 0.4rem;
  background: #ae585b;
  width: 40%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 2rem;
}

.title {
  font-family: "Caveat", cursive;
  text-align: center;
  margin-bottom: 0.5rem;
  margin-top: 0.1rem;
  font-size: 3.5rem;
  color: #d99d5e;
}

/* contact */

.contacts {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

.contact {
  display: flex;
  justify-content: center;
  margin: 1rem;
  color: #243238;
  font-size: 1.3rem;
}

.contact a:first-child {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.contact:first-child :hover {
  text-decoration: underline;
  color: #26b34e;
}

.contact__zap {
  font-size: 1.5rem;
  color: #26b34e;
  cursor: pointer;
}

.contact-icons {
  padding-right: 1rem;
}

.contact:first-child .contact-icons {
  font-size: 2rem;
  color: #26b34e;
}

.phone {
  margin-right: 0.5rem;
}

.telefone {
  margin: 0rem 1rem;
  color: #243238;
}

@media screen and (max-width: 725px) {
  .title-underline {
    width: 8rem;
  }

  .title {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 450px) {
  .contact__zap {
    font-size: 1rem;
  }

  .telefone {
    font-size: 1rem;
    margin: 0 0.5rem;
  }
}
