.menu-contact-info {
  padding: 0.2rem;
  position: fixed;
  margin: 0rem !important;
  bottom: 0%;
  left: 50%;
  transform: translateX(-50%);
  width: 77rem;
  background-color: #f4f1e9 !important;
  z-index: 5;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* z-index: 5; */
}

.tel_menu {
  align-self: center;
  font-size: 1.5rem;
  margin: 0rem 0.3rem !important;
}

.menu-container {
  background-color: #f4f1e9 !important;
  margin-top: 0rem !important;
  margin-bottom: 0.5rem;
  height: calc(100vh - 80.97px);
  padding: 0rem 1.2rem;
  overflow-y: scroll;
}

.menu-container::-webkit-scrollbar {
  width: 5px;
}

.menu-container::-webkit-scrollbar-track {
  background: #c4c4c450;
}

.menu-container::-webkit-scrollbar-thumb {
  background: #c4c4c480;
  border-radius: 90px;
  border: 3px solid #c4c4c450;
}

.menu-section-items-title {
  margin: 3rem 5rem;
  border-bottom: 0.2rem solid #0004;
  border-top: 0.2rem solid #0004;
  text-align: center;
  padding: 0.5rem;
  position: sticky;
  top: 0;
  background-color: #f4f1e9;
  text-transform: uppercase;
  z-index: 1;
}
.item-day {
  margin-bottom: 0.5rem;
  margin-top: 1.5rem;
  text-transform: capitalize;
}
.menu-section-item {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin: 0.2rem 0rem;
}

.menu-item-info {
  max-width: 40%;
  margin: 0.3rem 0rem;
}

.menu-item-title {
  padding: 0.2rem;
  text-transform: capitalize;
  color: #000;
}

.menu-item-description {
  font-size: 0.8rem;
  padding-left: 0.2rem;
  padding-top: 0.3rem;
  text-transform: lowercase;
}

.dots {
  border-bottom: 2px dotted #0008;
  margin: 0rem 0.3rem;
  margin-top: 0.2rem;
  flex: 1;
}

.menu-section-item > span {
  font-weight: bold;
  width: 10%;
}

.salgados-container {
  position: relative;
  z-index: 0;
}

.price-items-container {
  font-weight: 700;

  position: absolute;
  right: 0%;
  bottom: 50%;
  transform: translateY(-50%);
}

@media screen and (max-width: 800px) {
  .menu-section-items-title {
    margin: 3rem 0rem;
  }
  .menu-section-item > span {
    width: 20%;
  }
}

@media screen and (max-width: 710px) {
  .flex-container {
    flex-direction: column;
  }

  .title_menu {
    font-size: 1rem;
    margin-top: 0.3rem;
  }

  .tel_menu {
    font-size: 1rem;
  }
}

@media screen and (max-width: 320px) {
  /* .menu-container {
    height: calc(100vh - 200px);
  } */

  .menu-section-item > span {
    width: 30%;
  }
}
